@import "/css/imports/variables.css";

html {
  font-size: 100%;
}

html,
body {
  height: 100vh;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--text-paragraph);
  font-size: calc(16px + 0.3vw);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Theme layout*/

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

/*nav*/

.logo {
  font-family: var(--text-heading);
  font-weight: bold;
  font-size: 2rem;
  gap: 1.3rem;
  display: flex;
  height: 6vh;
  align-items: flex-start;
}

.logo img {
  width: auto;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background: white;
}

header h1 {
  margin: 0px;
}

/*hero*/

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.hero-container {
  position: relative;
  display: flex;
  height: 87vh;
  /* background-image: url(/assets/images/homeland-product-hero.jpg);
  background-size: cover;
  filter: contrast(100%) brightness(70%); */
}

.hero-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/assets/images/homeland-product-hero.jpg);
  background-size: cover;
  filter: contrast(100%) brightness(70%);
}

.hero div {
  flex: 1;
  min-width: 250px;
}

.hero-title {
  font-size: 4rem;
  margin: 0px;
  line-height: 1.2;
  position: relative;
}

.hero p {
  position: relative;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}
.hero-links {
  display: flex;
  height: 2rem;
  width: auto;
  align-items: center;
}

.hero-links img {
  height: 100%;
  width: 100%;
  margin-left: 2rem;
}

/*product cards*/

.products {
  background-color: white;
  padding: 6rem 4rem;
}

.products h2 {
  margin-top: 0px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card-item {
  position: relative;
}

.card-image {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 4px;
}

.product-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.favourite-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  height: auto;
  width: 2rem;
  background: white;
  padding: 5px;
}

/*footer*/

footer {
  text-align: center;
  color: white;
  background-color: var(--color-text);
  padding: 2rem;
}

footer p {
  margin: 0px;
}
